@import "tailwindcss";



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@layer utilities {
  @keyframes glowing-border {
    0% {
      border-color: rgb(61, 188, 152);
      box-shadow: 0 0 5px rgb(32, 179, 135), 0 0 10px rgb(18, 179, 146),
    }
    50% {
      border-color: rgb(49, 151, 184);
      box-shadow: 0 0 10px rgb(72, 137, 191),0 0 20px rgb(84, 163, 199),
    }
    100% {
      border-color: rgb(26, 186, 162);
      box-shadow: 0 0 5px rgb(42, 173, 143),0 0 10px rgb(41, 157, 134),
    }
  }

  .glow-border {
    border: 4px solid #0ff; /* Initial Border Color */
    animation: glowing-border 4s infinite alternate ease-in-out;
  }
}
